<%= simple_form_for(@place) do |f| %>
  <%= f.input :title %>
  <%= f.input :photo_url %>
  <%= f.input :price %>
  <%= f.input :description %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
